.catalogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.catalogItem {
  flex-basis: calc((100% - 96px) / 4);
}

.loadMoreButton {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  transition: border 300ms ease-in;

  display: block;
  margin: 0 auto;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  border: 1px solid var(--button-hover);
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}
