.catalogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 32px;
}

.catalogItem {
  flex-basis: calc((100% - 96px) / 4);
}
