.container {
  display: grid;
  grid-template-columns: 640px 1fr;

  gap: 72px;
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 640px;
}

.sectionRight {
  flex: 1;
  display: grid;
  grid-template-rows: minmax(180px, auto) 1fr;
  gap: 68px;
  height: auto; /* або взагалі прибрати height */
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.img {
  border-radius: 19px;
  max-width: 640px;
}
