:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;

  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

body {
  margin: 0;
  font-family: var(--font-manrope);
  background-color: #fff;
  color: #111;
}

/* Для Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Firefox (частково) */
input[type="date"]::-moz-focus-inner {
  border: 0;
}

:global(.react-datepicker-wrapper) {
  width: 100%;
}
:global(.react-datepicker__input-container) {
  width: 100%;
}

:global(.react-datepicker-popper) {
  margin-top: 0 !important;
}

fieldset {
  border-style: none !important;
}
