.card {
  position: relative;
}

.save {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.heartIcon {
  padding: 1px;
  stroke: var(--white);
  fill: transparent;
  stroke-width: 3px;
  transition: fill 0.3s ease-in, stroke 0.3s ease-in;
  width: 18px;
  height: 18px;
  overflow: visible;
}

.heartIconSaved {
  padding: 1px;
  fill: var(--button);
  stroke: transparent;
  stroke-width: 3px;
  transition: fill 0.3s ease-in, stroke 0.3s ease-in;
  width: 18px;
  height: 18px;
  overflow: visible;
}

.heartIcon:hover,
.heartIcon:active {
  fill: var(--button);
  stroke: transparent;
}

.imgWrapper {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 16px;
}

.imgWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0) 0%,
    rgba(18, 20, 23, 0.5) 100%
  );
}

.img {
  border-radius: 14px;
  min-height: 268px;
  object-fit: cover;
}

.titleInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.infoLists {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 28px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.model {
  color: var(--button);
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.carInfo {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carInfo li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
  text-transform: capitalize;
}

.infoLists ul:not(:last-child) > li {
  border-right: 1px solid var(--gray-light);
  padding-right: 6px;
}

/* .carInfo li:not(:last-child) {
  border-right: 1px solid var(--gray-light);
  padding-right: 6px;
} */

.readMore {
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  background-color: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  transition: background-color 300ms ease-in;
}

.readMore:hover,
.readMore:focus {
  background-color: var(--button-hover);
}
